@CHARSET "UTF-8";
.faqContainer{
	display: flex;
    align-items: center;
    flex-direction: column;
}
.title {
	display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 30px;
    color: white;
    background-color: #086528;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px;
    margin: 10px 0;
    margin-bottom: 10px;
}
.content {
    width: 600px;
    margin: 3px 0;
    padding: 3px;
    border: 1px solid #086528;
    border-radius: 10px;
    display: none;
}
.content img{
	width: 100%;
}
div.btnAddWrapper{
	width: 600px;
}
input#btn-add{
	float:right; margin-right: 0px;
}
div.btnWrapper {
	width: 600px;
}
input.btn-update {
	float:left; margin-left: 0px;
}
input.btn-delete {
	float:right; margin-right: 0px;
}