/* 추가된 스타일 */

#enroll-container {
  max-width: 730px;
  margin: 0 auto;
  padding: 20px;
  background-color: #86e319b0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #2b580c;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 0.3cm; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: right;
  padding-right: 10px;
  color: #2b580c;
  padding-bottom: 0.1cm; /* 여백 추가 */
  font-weight: bold;
}

td {
  padding-left: 10px;
  padding-bottom: 0.1cm; /* 여백 추가 */
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 16px;
}

/*버튼 스타일 */
input[type="submit"] {
  display: block;
  width: 120px;
  margin: 10px auto;
  background-color: #008000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1f3d07;
}

sup {
  font-size: 12px;
}

.centered-buttons {
  text-align: center;
  margin-top: 10px;
}
