
    /*메인*/

    h2{
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        padding: 100px;
   }
   
   /*전체 리뷰콘테이너 ( 리뷰게시판 빼고 )*/
   #review-container {
       margin : 160px;
       border: 3px solid #ddd;
       border-collapse: collapse;
       width: 60%;
       padding: 50px;
       
        
     }
     
     
   th, td {
       padding: 8px;
       text-align: center;
       border-bottom: 1px solid #ddd;
     }
     
   /*주문내역 리스트 테이블*/
   #tbl-order-review{
       margin : auto;
       border: 3px solid #ddd;
       border-collapse: collapse;
       width: 60%;
       padding: 100px;
       text-align: center;
   }
   
   /*주문내역 리스트 테이블*/
   #tbl-board-view{
       margin : auto;
       border: 3px solid #ddd;
       border-collapse: collapse;
       width: 60%;
       padding: 100px;
       text-align: center;
   }
   
   #photo-review-container{
       border: 3px solid #ddd;
   }
   
   .photo{
       border: 3px solid #00ffff;
       margin-right: 30px;
   }
   
   .photo{
       margin:10px auto;
       width:300px;
       background-color:#fff;
       box-shadow: 2px 2px 3px rgba(135, 139, 133, 0.4);
       transition: 0.5s
   }
   
   /*.polaroid img {
       width: 100px;
   
   }
   
   p.info{text-align:left;margin:0;}
   span.writer{font-weight:bold;font-size:8px;}
   span.photoDate{font-size:6px;}
   
   #btn-more-container{
	 text-align: center;
   }*/