/* 글씨체*/
@font-face {font-family: 'NanumSquareNeo-Variable'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');font-weight: normal;font-style: normal;}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
   
   
   
    /*메인*/

   h2{
        font-size: 40px;
        text-align: center;
        font-weight: 600;
        padding: 100px;
        color:black;
        font-family: 'NanumSquareNeo-Variable';
        
   }
   
   h1{
   	font-size: 40px;
    text-align: center;
    font-weight: 200;
    padding-bottom: 80px;
    color:#606C5D;
    font-family: 'yg-jalnan';
   }
   
   .polaroid{
   text-align: center;
   padding: 15px;
   }
  
   /*주문상품+게시글작성테이블*/
   #review-container {
   	   margin : auto;
       text-align: center;
       border-radius: 20px;
       border-collapse: collapse;
       width: 1100px;
       padding : 50px;
       background-color: rgb(217, 250, 217); 
      
        
     }
     
     
   th, td {
       padding: 20px;
       text-align: center;
       border-bottom: 1px solid rgb(217, 250, 217);
     }
     
   /*주문상품 테이블*/
   #tbl-order-review{
       margin : auto;
       color : #606C5D;
      font-family: 'NanumSquareNeo-Variable';
       border-radius: 10px;
       border-collapse: collapse;
       width: 80%;
       padding: 100px;
       text-align: center;
       background-color: white;
        box-shadow: 2px 2px 4px 1px grey;
   }
   
   /*게시글작성테이블*/
   #tbl-board-view{
       margin : auto;
       color : #606C5D;
       border-radius: 12px;
       border-collapse: collapse;
       width: 80%;
       padding: 200px;
       text-align: center;
       background-color: white;
       border-radius: 10px;
       box-shadow: 1px 1px 4px 1px grey;
   		font-family: 'NanumSquareNeo-Variable';
   }
   
   /*리뷰게시판테이블*/
   #photo-review-container{
       text-align: left;
       margin : auto;
       width: 1200px;
       background-color: rgb(217, 250, 217); 
       border-radius: 12px;
   }
   
	.photo{
       margin-right: 30px;
  	   text-align: center;
       margin:50px auto;
       width : 200px;
       height : 200px;
       background-color:#fff;
       box-shadow: 2px 2px 3px rgba(135, 139, 133, 0.4);
       transition: 0.5s;
      
 	   padding:1px;
   }
   
   
    #btn-more-container{
	 text-align: center;
	 
   }
   
   
   .content-container{
   box-shadow: 2px 2px 4px 1px grey;
   text-align: left;
   background-color:#fff;
   border-radius: 12px;
   width: 90%;
   height: 70%;
   margin-left: 130px;
   margin: auto;
   padding: 28px;
   color:#606C5D;
   font-weight: bold;
  
   }
   .photo-container{
  margin: 10px;
  
   }

 .info-container{
  font-family: 'NanumSquareNeo-Variable';
 
 }
 .writer{
 margin: 8px;
 font-size: 15px;
 
 
 }
 .photoDate{
   margin: 8px;
   	 text-align: right;
  
 }
 .content{
  margin: 8px;
  font-size: 15px;

 }
 .product {
  margin: 14px;
  font-weight: bold;
  color: #41644A;
 
 }
 

 .heart-container{
  text-align:right; 
 }
  
 .button-container{
  	 text-align: center;
 }
 
 #btn-more-container{
 padding: 15px;
 }
 
 #btn-more{
 color:#606C5D;
 width: 1200px;
 margin-bottom: 12%;
 }
 
 
 
/* 기존 .modal 스타일 수정 */
.modal {
 display: none;
    position: fixed;
    z-index: 50;
    padding-top: 96px;
    left: 17%;
    top: 3%;
    width: 65%;
    height: 77%;
    overflow: auto;
    background-color: #d5fad6;
    border: 1px solid darkgreen;
    border-radius: 20px;
}

.modal-content {
   border: 2px solid #2ecc71;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 50%; /* 모달 창 폭을 50%로 설정 */
  max-width: 500px; /* 필요한 경우 최대 폭을 조절하여 모바일 환경에도 적합하게 만들 수 있음 */
  border-radius: 5px;
  max-height: 90%; /* 이미지의 최대 높이를 설정하여 화면에서 벗어나지 않게 함 */
  object-fit: contain; /* 이미지가 창에 맞춰서 크기가 조절되게 함 */
}

.closeModal {
  position: absolute;
  top: 25px;
  right: 35px;
  color: #26824c;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  padding: 3px 10px;
  cursor: pointer;
}

.closeModal:hover {
  color: #fff;
 
}