@charset "UTF-8";
@font-face {font-family: 'NanumSquareNeo-Variable'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');font-weight: normal;font-style: normal;}
/*메인*/
#storeList-container { margin-bottom: 12%; width: 1200px; margin: auto; font-family: 'NanumSquareNeo-Variable'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');font-weight: normal;font-style: normal; }
h2{
	 font-size: 40px;
	 text-align: center;
	 font-weight: 600;
	 padding: 100px;
}

#search-name{
	padding:10px;
	text-align: right;
	display: flex;
	float : right;
}


/*테이블*/
table {
   
    border: 1px solid rgb(217, 250, 217);
    border-collapse: collapse;
    width: 100%;
    padding: 100px;
  }

  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 4px solid rgb(217, 250, 217);;
  }

 thead tr:first-child {
  background-color: rgb(217, 250, 217);
 	font-size: 20px;
 	font-weight: 900;
}

/*페이지바*/
#pagebar{
	text-align: center;
	padding: 30px;
	
}

.button {
	margin-left: 20px;
    background-color: #086528;
    color: #fff;
    border:none; 
    border-radius:3px; 
    padding:5px;
    text-align: center;
    color: white;
    
}
.button:hover {
      background-color: #41644A;
     
  }

.searchbutton{
	text-align: right;
	display: flex;
	float : right;
	background-color: #086528;
	color: #fff;
	 border-radius:3px; 
	 border:none; 
	 margin-left: 10px;
	 width: 40px;
	 height:23px;
}

.searchbutton:hover{
	 background-color:rgb(217, 250, 217);
    
}

@font-face {font-family: 'NanumSquareNeo-Variable'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');font-weight: normal;font-style: normal;}
#backgroundPop { display: none; width: 100%; height: 100%; position: fixed; background-color: rgba(0, 0, 0, 24%); top: 0; left: 0; right: 0; z-index: 999;}
#backgroundPop.hidden { display: none; }
#modalContent { display: none; position: absolute; background-color: #fff; width: 600px; height: 540px; padding: 15px; top: 50%; left: 50%; transform:translate(-50%,-50%); border: 5px solid darkgreen; border-radius: 20px; width: 700px; font-size : 30px; font-weight: bold; height: 500px; background: #fff; z-index: 1000; text-align: center; vertical-align: middle; }
#map { margin: auto; width:100%; height:85%; }
#close { width : 14%; background-color: #73b673; padding: 5px; border-radius: 10px; font-family: 'NanumSquareNeo-Variable'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2'); font-size: 30px; height: 10%; margin-top: 3%; }
#btn1 { width : 70%; background-color: #73b673; padding: 5px; border-radius: 10px; font-family: 'NanumSquareNeo-Variable'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2'); font-size: 13px; height: 10%; margin-top: 3%; }
